body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

.container {
  padding: 48px 72px;
  margin: 0 auto;
  width: 100%;
}

html {
  overflow-y: scroll;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 0;
  }
}
